@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,200&display=swap');

body {
  background: white url(../Imagenes/diademuertos.jpg) center center fixed;
  background-repeat: no-repeat;
  overflow: auto;
  background-size: cover;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 38px;
}

h4 {
  font-size: 23px;
}

p,
li,
ol,
ul {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}

.titulos {
  text-decoration: underline;
  font-family: 'Nunito Sans', sans-serif;
  text-shadow: 2px 2px 4px white;
}



.content-carne {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: row;
}

.imagenes {
  border: 15px solid wheat;
  border-radius: 10px;
  padding: 0px;
  margin: 15px;
  height: auto;
  width: auto;
  max-height: 30vh;
  max-width: 50vw;
}

.centro {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.texto-centro {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.cent-imagenes {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  align-content: center;
}

.button {
  font-family: Georgia;
  color: #ffffff;
  font-size: 23px;
  padding: 11px;
  text-decoration: none;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: 0px 3px 5px #666666;
  -moz-box-shadow: 0px 3px 5px #666666;
  box-shadow: 0px 3px 5px #666666;
  text-shadow: 2px 4px 6px #666666;
  border: solid #000000 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#b3b3b3));
  background: -moz-linear-gradient(top, #000000, #b3b3b3);
}

.button:hover {
  background: #140e12;
}

.logos {
  width: 50px;
  height: 50px;
}


.whatsapp-icon {
  width: 50;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  transition: 0.3s;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}

header {
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.iconos,
.logos {
  display: flex;
  gap: 20px;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  width: 5vw;
  height: auto;
  min-width: 20px;
  max-width: 100px;
}

.navegadores,
footer {
  gap: 20px;
  margin: 10%;
}

iframe {
  width: 512px;
  height: 292px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.barra-footer,
footer {
  background-color: lightcoral;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.redes,
.texto {
  margin: 10px;
}

.redes {
  display: flex;
  gap: 10px;
  width: 30vw;
}

.barrio {
  width: 20vw;
  height: auto;
}

.texto {
  flex: 1;
  padding: 10px;
  width: 30vw;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: nowrap;
  align-content: stretch;
}

.form-container {
  width: 80vw;
  max-width: 500px;
  padding: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: lightgrey;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  border-radius: 5px;
}